<div class="container">
    <h2>User Settings</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name"
                required="" #nameField="ngModel"
                (blur)="onBlur(nameField)"
                [class.field-error]="form.submitted && nameField.invalid">
            <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
                Enter a name
            </div>
        </div>

        <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers" >
            <label for="emailOffers" class="form-check-label">
                Email Special Offers
            </label>
        </div>
        <p>User Interface Style</p>
        <div class="form-group">
            <div class="form-check">
                <input type="radio" class="form-check-input" name="interfaceStyle" id="lightInterface" value="light" checked [(ngModel)]="userSettings.interfaceStyle" >
                <label for="lightInterface" class="form-check-light">Light</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="interfaceStyle" id="mediumInterface" value="medium" [(ngModel)]="userSettings.interfaceStyle" >
                <label for="mediumInterface" class="form-check-light">Medium</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="interfaceStyle" id="darkInterface" value="dark" [(ngModel)]="userSettings.interfaceStyle" >
                <label for="darkInterface" class="form-check-light">Dark</label>
            </div>
        </div>

        <div class="form-group">
            <label for="subscriptionType">Subscription Type</label>
            <select name="subscriptionType" id="subscriptionType" class="form-control" [(ngModel)]="userSettings.subscriptionType" >
                <option *ngFor="let type of subscriptionTypes | async">
                    {{ type }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" name="notes" id="notes" rows="3" [(ngModel)]="userSettings.notes"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" name="singleValue"
                [(ngModel)]="userSettings.singleValue" btnCheckbox btnCheckboxTrue="On" btnCheckboxFalse="Off">
                {{userSettings.singleValue}}
            </button>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="text" placeholder="Start Date" class="form-control" 
            [(ngModel)]="userSettings.startDate" name="startDate" id="startDate"
            bsDatepicker>
        </div>
        <div class="form-group">
            <label for="startTime">Start Time</label>
            <timepicker [(ngModel)]="userSettings.startTime" name="startTime" id="startTime"></timepicker>
        </div>
        <div class="form-group">
            <label for="points">Points</label>
            <rating [(ngModel)]="userSettings.ratingPoint" name="ratingPoint" [max]="10"></rating>
        </div>
 
        <div [hidden]="!postError" class="alert alert-danger">
            {{postErrorMessage}}
        </div>
        <button class="btn btn-primary">Send</button>
    </form>
    <h3>
        {{ form.value | json}}
    </h3>
    <!-- <h3>{{originalUserSettings | json}}</h3>
    <h3>{{userSettings | json}}</h3> -->
</div>
